<app-board>
  <app-button routerLink="/difficulty-select"
              buttonText="One Player"
              buttonColour="green"
              (click)="handlePlayerSelect(1)">
  </app-button>
  <app-button routerLink="/play-mode-select"
              buttonText="Two Players"
              buttonColour="green"
              (click)="handlePlayerSelect(2)">
  </app-button>
  <app-button routerLink=""
              buttonText="Back"
              buttonColour="blue">
  </app-button>
</app-board> 
