<app-board>
  <div class="play-button-container">
    <app-button routerLink="/player-select"
                buttonText="Play!"
                buttonColour="green"
                buttonSize="medium">
    </app-button>
  </div>

  <app-button routerLink="/instructions"
              buttonText="How do I Play?"
              buttonColour="blue"
              buttonSize="small">
  </app-button>

  <app-button routerLink="/high-scores"
              buttonText="High Scores"
              buttonColour="green"
              buttonSize="small">
  </app-button>
</app-board>
