<app-board>
  <p>
    In nim, two players take turns removing matches set up like so:
    <br><br>
    <img [src]="imagePath" height="300" width="200">
    <br><br>
    On their turn, a player can remove any number of matches
    <em>provided they all come from the same row.</em>
    You can remove matches by clicking on them.
    The player who is forced to remove the last match loses.
    After pressing play, choose "Two players" to take turns playing
    with a friend, or choose "One player" to play against the computer.
  </p>
  <app-button routerLink="" buttonText="Back" buttonColour="blue"></app-button>
</app-board>
