/* Background style courtesy of https://superdesigner.co/tools/css-backgrounds */
html {
  background: radial-gradient(circle, transparent 25%, #21323e  26%),linear-gradient(0deg, transparent 44%, #3a32e1 45%, #3a32e1 55%, transparent 56%), linear-gradient(90deg, transparent 44%, #3a32e1 45%, #3a32e1 55%, transparent 56%);
  background-size: 3em 3em;
  background-color: #21323e;
  opacity: 1;
  
  font-family: 'Nunito', Helvetica, sans-serif;
}
