h2 {
  text-align: center;
  color: aquamarine;
}

table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

table thead tr {
  background-color: #003c9c;
  text-align: left;
}

table th,
table td {
  padding: 12px 15px;
}

tr:nth-child(even) {
  background-color: #2f65bd;
}

tr:nth-child(odd) {
  background-color: #3d7de3;
}

table tbody tr:last-of-type {
  border-bottom: 2px solid #233541;
}
